@import url("https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Montserrat:wght@400;500;600&display=swap");
#Favorites {
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 88%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 6%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-bottom: 5%;
}

.favorite-banner {
  margin-top: 3%;
  width: 100%;
  background-color: #adadad;
}

.favorite-text-title {
  font-family: "Amita", cursive;
  font-style: none;
  font-size: 2.9rem;
  line-height: 2.5rem;
  color: white;
}

.main-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
  margin: 3%;
  grid-gap: 2%;
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  position: relative;
}

.cupcake-text {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  line-height: 1.7em;
}

.cupcake-header {
  font-family: "Amita", cursive;
  line-height: 1.2em;
  color: #562f2a;
}

.shape {
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 8%;
}

.cupcake0 {
  background: url("../../Assets/favorites/chocolate-chocolate.jpg") no-repeat center/cover;
}

.cupcake1 {
  background: url("../../Assets/favorites/vanilla.jpg") no-repeat center/cover;
}

.cupcake2 {
  background: url("../../Assets/favorites/strawberry.jpg") no-repeat center/cover;
}

.cupcake3 {
  background: url("../../Assets/favorites/cherry.jpg") no-repeat center/cover;
}

.cupcake4 {
  background: url("../../Assets/favorites/cheesecake.jpg") no-repeat center/cover;
}

.cupcake5 {
  background: url("../../Assets/favorites/cartoon.jpg") no-repeat center/cover;
}

@media screen and (max-width: 600px) {
  #Favorites {
    background-color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 94%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 3%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 20%;
  }
  .main-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0.5%;
    margin: 1%;
  }
  .menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    position: relative;
  }
  .cupcake-text {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=favorites.css.map */