#Order {
  font-family: "Castoro", serif;
  font-size: 1.2rem;
  background-color: white;
  width: 88%;
  margin: 6%;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.order-banner {
  margin-top: 3%;
  width: 100%;
  background-color: #adadad;
}

.order-text-title {
  color: white;
}

.body {
  width: 100%;
  height: 700px;
  display: grid;
  margin-top: 3%;
  margin-bottom: 3%;
  grid-template-columns: 70% 28%;
  justify-self: center;
}

.get {
  margin-left: 5%;
  text-align: left;
}

.handle-overflow {
  width: 100%;
  overflow: hidden;
  transform: 10s;
}

.form-div {
  position: relative;
  color: #562f2a;
  overflow: hidden;
  background-color: #f6f6ea;
  top: 10%;
  left: 2%;
  transition: 1s;
  padding: 2%;
  width: 92%;
  border: 3px outset #f6f6ea;
}

.actual-form {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
}

.order-mailbox {
  background: url("../../Assets/mailbox.svg") no-repeat center / contain;
  width: 100%;
  z-index: 2;
}

.cupcakes,
.cookies,
.candies,
.frosting {
  text-align: left;
  justify-self: center;
  width: 100%;
  display: grid;
  padding: 10px;
  background-color: #fffff0;
}
.cupcakes-header,
.cookies-header,
.candies-header {
  width: 80%;
}
.cupcake-image {
  text-align: right;
  width: 90px;
  height: 100px;
  float: right;
  background: url("../../Assets/multiplecupcakes.svg") no-repeat left / contain;
}

.cookie-image {
  width: 100px;
  height: 100px;
  float: right;
  background: url("../../Assets/cookies.svg") no-repeat left / contain;
}
.sweets-image {
  width: 90px;
  height: 100px;
  float: right;
  background: url("../../Assets/sweet.svg") no-repeat center / contain;
}

.stamp {
  width: 100%;
  height: 100px;
  margin-top: 15px;
  margin-bottom: 10px;
  background: url("../../Assets/stamp4.svg") no-repeat right / contain;
}

.additional-info {
  display: grid;
  text-align: left;
}

.contact-button {
  text-decoration: none;
  border: none;
  background-image: linear-gradient(#bf1922, #fd5377, #f37691, #e03841);
  color: white;
  font-family: "Castoro", serif;
  font-style: none;
  font-size: 1.7rem;
  margin: 0px;
  width: 100%;
  padding: 0.5%;
  padding-left: 4%;
  padding-right: 4%;
  margin-bottom: 8%;
  border-radius: 1rem;
}

@media screen and (max-width: 1000px) {
  #Order {
    font-family: "Castoro", serif;
    font-size: 1.2rem;
    background-color: white;
    width: 94%;
    margin: 3%;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
  }

  .order-banner {
    margin-top: 3%;
    width: 100%;
    background-color: #adadad;
  }

  .order-text-title {
    color: white;
  }

  .body {
    width: 100%;
    height: 100%;
    display: grid;
    margin-top: 0%;
    margin-bottom: 0%;
    grid-template-columns: 1fr;
    justify-self: center;
  }

  .form-div {
    position: relative;
    color: #562f2a;
    overflow: hidden;
    background-color: #f6f6ea;
    left: 2%;
    top: 0%;
    transition: 1s;
    padding: 1%;
    width: 92%;
    border: 3px outset #f6f6ea;
  }

  .actual-form {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin-bottom: 5%;
  }
}
