@import url("https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Montserrat:wght@400;500;600&display=swap");

#Works {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  width: 88%;
  justify-content: center;
  margin: 6%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 8.5%;
  padding-bottom: 6%;
  font-family: "Montserrat", sans-serif;
  // font-style: italic;
  // font-weight: 400;
}

.master-works {
  width: 85%;
  justify-self: center;
  display: grid;
  grid-template-columns: 0.15fr 0.75fr 0.15fr;
}

.works-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  font-size: 1.3em;
  justify-content: center;
  align-content: center;
  box-shadow: 8px 10px 25px 2px #777777;
}

.works-text {
  display: grid;
  grid-template-rows: 14% 24% 30% 23%;
  grid-gap: 0.5%;
  //   flex-direction: column;
  padding: 3%;
}

.works-paragraph {
  display: grid;
  grid-template-columns: 26% 74%;
  margin-bottom: 2%;
}
.works-blurb {
  text-align: left;
  padding-right: 8%;
  line-height: 2rem;
}

.works-text-title {
  margin-top: 1%;
  color: #bf1922;
  font-family: "Amita", cursive;
  font-style: none;
  font-weight: 700;
  font-size: 2.9rem;
  line-height: 2.5rem;
}

.works-blurb-title {
  color: #bf1922;
  font-family: "Amita", cursive;
  font-style: none;
  font-weight: 500;
  font-size: 2rem;
  line-height: 0.2rem;
}

.imagine {
  color: #582063;
}

.choose {
  color: #fd8a53;
}

.enjoy {
  color: #bf1922;
}

.background {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  background-color: #582063;
}

.works-img-1 {
  background: url("../../Assets/icons/star.svg") no-repeat center / contain;
  //   width: 100%;
  height: 150px;
  margin: 15px;
}
.works-img-2 {
  background: url("../../Assets/icons/tray.svg") no-repeat center / contain;
  height: 150px;
  //   width: 100%;
  margin: 15px;
}
.works-img-3 {
  background: url("../../Assets/icons/cookie.svg") no-repeat center / contain;
  height: 150px;
  //   width: 100%;
  margin: 15px;
}

@media screen and (max-width: 600px) {
  #Works {
    width: 94%;
    margin: 3%;
    margin-top: 2%;
    margin-bottom: 0%;
    padding-top: 2%;
    padding-bottom: 0%;
  }

  .works-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
    font-size: 1.3em;
    justify-content: center;
    align-content: center;
    box-shadow: none;
    margin-bottom: 0%;
  }

  .master-works {
    width: 100%;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .works-text {
    margin-top: 0%;
    display: grid;
    grid-template-rows: 6% 30% 30% 33%;
    padding: 0%;
  }

  .works-paragraph {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
  }

  .works-text-title {
    font-size: 1.7em;
    color: #bf1922;
  }

  .works-blurb {
    text-align: left;
    padding: 8%;
  }

  .background {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    background-color: #582063;
  }

  .works-img-1 {
    background: url("../../Assets/icons/star.svg") no-repeat center/ contain;
    width: 100%;
    margin: 0px;
  }
  .works-img-2 {
    background: url("../../Assets/icons/tray.svg") no-repeat center/ contain;
    width: 100%;
    margin: 0px;
  }
  .works-img-3 {
    background: url("../../Assets/icons/cookie.svg") no-repeat center/ contain;
    width: 100%;
    margin: 0px;
  }
}
