@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap");

.App {
  font-family: "Castoro", serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: none;
  overflow-y: scroll;
  background-image: linear-gradient(217deg, #fd8a53, #ef7966, #f39e37);
}
